nav{
  background-color: #44f;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
}

span{
  font-size: 24px;
  color: white;
}
/*O CSS do componente só funciona para elementos dentro do proprio componente*/
/*O span que está no próprio index.html não é afetado*/
